
:root{
    --primary-color: hsl(234, 12%, 34%);
    --secondary-color: hsl(229, 6%, 66%);
}

h1, h2{color: var(--primary-color);}
p{color: var(--secondary-color);}

body{
    padding: 5em 2em;
    height: auto;
}

header{
    text-align: center;
}

.header__title{font-size: 1.6rem;}
.header__subtitle{margin-block-start: 1em;}

.header__title span{
    display: block;
    font-weight: 200;
}

main{
    display: grid;
    grid-template-rows: repeat(4, minmax(190px, 1fr));
    row-gap: 1.5em;
    margin-block-start: 5em;
}

section{
    border-top: 4px solid var(--border-color);
    padding: 2em 2em 2em 2em;
    border-radius: 3%;
    box-shadow: 0 5px 15px 3px hsl(234 12% 34% / 30%);
    background: var(--bg-img) bottom 1.5em right 1.5em / 3em no-repeat, white;
    max-height: 190px;
}

.card__title{font-size: 1.3rem; line-height: 1;}
.card__desc{font-size: 0.85rem;margin-block-start: 0.5rem;line-height: 1.8;}

@media only screen and (min-width: 1000px) {

    header{
        max-width: 35em;
        margin-inline: auto;
    }

    .header__title{font-size: 2rem;}

    main{
        grid-template-columns: repeat(3, 290px);
        grid-template-rows: repeat(8,  35px);
        gap: 2em;
        justify-content: center;
    }

    section{
        max-height: none;
        background-size: 3.5em;
    }

    #sec1{grid-column: 1 / 2;  grid-row: 3 / span 4;}
    #sec2{grid-column: 2 / 3;  grid-row: 1 / span 4;}
    #sec3{grid-column: 2 / 3;  grid-row: 5 / span 4;}
    #sec4{grid-column: 3 / 4;  grid-row: 3 / span 4;}

    .card__title{font-size: 1.2rem;}
    .card__desc{font-size: 0.75rem;}
}
